<!DOCTYPE html>
<html lang="en">

    <section class="probootstrap_cover_v3 overflow-hidden relative text-center" style="background-image: url('/static/modules/portal/images/img_2.jpg');" id="section-home">
      <div class="overlay"></div>
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md">
            <h2 class="heading mb-2 probootstrap-animate">Contact</h2>
            <p class="lead mb-5  probootstrap-animate">Another free template by uicookies.com Under License CC 3.0</p>
            <p class="probootstrap-animate">
              <a  href="#" target="_blank" role="button" class="btn btn-primary p-3 mr-3 pl-5 pr-5 text-uppercase d-lg-inline d-md-inline d-sm-block d-block mb-3">Get The App</a> 
              <a href="#" class="text-white text-uppercase">Watch The Video</a> 
            </p>
          </div> 
        </div>
      </div>
      <div class="scroll-wrap js-scroll-wrap probootstrap-animate">
        <a href="#section-feature" class="text-white probootstrap_font-24 smoothscroll"><i class="ion-chevron-down"></i></a>
      </div>
    </section>
    <!-- END section -->
    

    <section class="probootstrap_section bg-light" id="section-contact">
      <div class="container">
        <div class="row">

          <div class="col-md-7 probootstrap-animate">
            <form action="#" method="post" class="probootstrap-form probootstrap-form-box mb60">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="fname">First Name</label>
                    <input type="text" class="form-control" id="fname" name="fname">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="lname">Last Name</label>
                    <input type="text" class="form-control" id="lname" name="lname">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email">
              </div>
              <div class="form-group">
                <label for="message">Message</label>
                <textarea cols="30" rows="10" class="form-control" id="message" name="message"></textarea>
              </div>
              <div class="form-group">
                <input type="submit" class="btn btn-primary" id="submit" name="submit" value="Send Message">
              </div>
            </form>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-3 probootstrap-animate">
            <ul class="probootstrap-contact-details">
              <li>
                <span class="text-uppercase">Email</span>
                probootstrap@gmail.com
              </li>
              <li>
                <span class="text-uppercase">Phone</span>
                +30 976 1382 9921
              </li>
              <li>
                <span class="text-uppercase">Fax</span>
                +30 976 1382 9922
              </li>
              <li>
                <span class="text-uppercase">Address</span>
                San Francisco, CA <br>
                4th Floor8 Lower  <br>
                San Francisco street, M1 50F
              </li>
            </ul>
          </div>

        </div>
      </div>
    </section>
    <!-- END section -->
