
    <section class="probootstrap_cover_v3 overflow-hidden relative text-center" style="background-image: url('/static/modules/portal/images/img_3.jpg');" id="section-home">
      <div class="overlay"></div>
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md">
            <h2 class="heading mb-2 probootstrap-animate">Products</h2>
            <p class="lead mb-5  probootstrap-animate">Another free template by uicookies.com Under License CC 3.0</p>
            <p class="probootstrap-animate">
              <a  href="#" target="_blank" role="button" class="btn btn-primary p-3 mr-3 pl-5 pr-5 text-uppercase d-lg-inline d-md-inline d-sm-block d-block mb-3">Get The App</a> 
              <a href="#" class="text-white text-uppercase">Watch The Video</a> 
            </p>
          </div> 
        </div>
      </div>
      <div class="scroll-wrap js-scroll-wrap probootstrap-animate">
        <a href="#section-feature" class="text-white probootstrap_font-24 smoothscroll"><i class="ion-chevron-down"></i></a>
      </div>
    </section>
    <!-- END section -->
    

    <section class="probootstrap_section" id="section-products">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-6 text-center mb-5 probootstrap-animate">
            <h2>Popular Products</h2>
            <p class="probootstrap_font-18">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </div>
        </div>
        <div class="row mb-5">
          
          <div class="col-md-3 col-sm-6 probootstrap-animate">
            <div class="media d-block text-center">
              <img class="mr-0 mb-3 w-50 img-fluid rounded-circle" src="/static/modules/portal/images/img_1.jpg" alt="Generic placeholder image">
              <div class="media-body">
                <h5 class="mt-3">Video Background</h5>
                <p class="probootstrap_font-14">$25.00</p>
                <p><a href="#">Buy Now</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 probootstrap-animate">
            <div class="media d-block text-center">
              <img class="mr-0 mb-3 w-50 img-fluid rounded-circle" src="/static/modules/portal/images/img_2.jpg" alt="Generic placeholder image">
              <div class="media-body">
                <h5 class="mt-3">Popup Image</h5>
                <p class="probootstrap_font-14">$35.99</p>
                <p><a href="#">Buy Now</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 probootstrap-animate">
            <div class="media d-block text-center">
              <img class="mr-0 mb-3 w-50 img-fluid rounded-circle" src="/static/modules/portal/images/img_3.jpg" alt="Generic placeholder image">
              <div class="media-body">
                <h5 class="mt-3">Testimonial</h5>
                <p class="probootstrap_font-14">$99.25</p>
                <p><a href="#">Buy Now</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 probootstrap-animate">
            <div class="media d-block text-center">
              <img class="mr-0 mb-3 w-50 img-fluid rounded-circle" src="/static/modules/portal/images/img_4.jpg" alt="Generic placeholder image">
              <div class="media-body">
                <h5 class="mt-3">Table Pricing</h5>
                <p class="probootstrap_font-14">$23.33</p>
                <p><a href="#">Buy Now</a></p>
              </div>
            </div>
          </div>



        </div>

        <div class="row">
          <div class="col-md-3 col-sm-6 probootstrap-animate">
            <div class="media d-block text-center">
              <img class="mr-0 mb-3 w-50 img-fluid rounded-circle" src="/static/modules/portal/images/img_5.jpg" alt="Generic placeholder image">
              <div class="media-body">
                <h5 class="mt-3">Video Background</h5>
                <p class="probootstrap_font-14">$25.00</p>
                <p><a href="#">Buy Now</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 probootstrap-animate">
            <div class="media d-block text-center">
              <img class="mr-0 mb-3 w-50 img-fluid rounded-circle" src="/static/modules/portal/images/img_4.jpg" alt="Generic placeholder image">
              <div class="media-body">
                <h5 class="mt-3">Popup Image</h5>
                <p class="probootstrap_font-14">$35.99</p>
                <p><a href="#">Buy Now</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 probootstrap-animate">
            <div class="media d-block text-center">
              <img class="mr-0 mb-3 w-50 img-fluid rounded-circle" src="/static/modules/portal/images/img_3.jpg" alt="Generic placeholder image">
              <div class="media-body">
                <h5 class="mt-3">Testimonial</h5>
                <p class="probootstrap_font-14">$99.25</p>
                <p><a href="#">Buy Now</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 probootstrap-animate">
            <div class="media d-block text-center">
              <img class="mr-0 mb-3 w-50 img-fluid rounded-circle" src="/static/modules/portal/images/img_2.jpg" alt="Generic placeholder image">
              <div class="media-body">
                <h5 class="mt-3">Table Pricing</h5>
                <p class="probootstrap_font-14">$23.33</p>
                <p><a href="#">Buy Now</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->
    