
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000" data-wrap="true">
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
        {{range $index, $item := .WhellImgs }}
            <li data-target="#myCarousel" data-slide-to="{{$index}}" {{if eq $index 0}}class="active"{{end}}></li>
        {{end}}
        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            {{range $index, $item := .WhellImgs }}
                <div class="item  {{if eq $index 0}}active{{end}}">
                    <a href="{{.Name}}">
                        <img class="scroll-banner" src="{{.Value}}" alt="{{.Title}}">
                    </a>
                    <div class="carousel-caption">{{.Title}}</div>
                </div>
            {{end}}
        </div>
        <!-- 轮播（Carousel）导航 -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <script>
            // banner 图片宽高比
            var scroll_banner_hw = 0;
            window.onload = function(){
                // 获取 banner 对象
                var banImgs = document.getElementsByClassName("scroll-banner");
                scroll_banner_hw = banImgs[0].offsetHeight / banImgs[0].offsetWidth
                // 统一所有 banner 图片的高度
                resizeBannerImg("scroll-banner", scroll_banner_hw)
            }
            window.onresize = function () {
                resizeBannerImg("scroll-banner", scroll_banner_hw)
            }
            function resizeBannerImg(className, h_w) {
                // 获取 banner 对象
                var banImgs = document.getElementsByClassName(className);
                // 获取第一个 banner 图片的高度
                var banimgW = 0;
                for (var i=0; i<banImgs.length; i++) {
                    banimgW = banImgs[i].offsetWidth
                    if (banimgW > 0) break;
                }
                for (var i=0; i<banImgs.length; i++) {
                    banImgs[i].style.height = (banimgW * h_w) + "px"
                }
            }
        </script>
    </div>

