<!DOCTYPE html>
<html>

<head>
    <title>500</title>
    <link rel="stylesheet" href="/static/modules/common/css/500.style.css">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300' rel='stylesheet' type='text/css'>
    <!-- For-Mobile-Apps-and-Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Classy Error Page Widget Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
    <!-- //For-Mobile-Apps-and-Meta-Tags -->
</head>

<body>
    <div class="main w3l">
        <div class="for w3ls">
            <div class="text wthree">
                <div class="left agile">
                    <h2>500</h2>
                </div>
                <div class="right agileits">
                    <img src="/static/modules/common/images/500.1.png" title="" alt="">
                    <h4><i class="fa fa-warning text-red"></i>Oops! Something went wrong .</h4>
                    <div class="back-btn">
                        <a href="javascript:history.back()">Go Back</a>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</body>

</html>