<!-- 用于列表页 -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <!-- <link rel="shortcut icon" href="/static/modules/home/img/xiaohui.jpg" mce_href="/static/modules/home/img/xiaohui.jpg" type="image/x-icon"> -->
    <link rel="shortcut icon" href="{{.HomeConf.logo}}" mce_href="{{.HomeConf.logo}}" type="image/x-icon">
    <title>{{.HomeConf.head_title}} {{.pageTitle}}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    
{{template "home/cms/public/globalcss.html"}}

{{.headcssjs}}
</head>
<body>
    <div class="body-box">
        <!-- ================= 顶部菜单信息 start =================== -->
        <header class="">
            <div class="top line-center">
                <div class="container relative line-left">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <a href="/home" class="parts">首页</a>
                            <a href="/home" class="parts">官网</a>
                            <a href="/home" class="parts">其他</a>
                        </div>
                        <div class="col-sm-6 col-xs-12 line-right">
                            <a href="/home" class="parts">校园门户</a>
                            <a href="/home" class="parts">数字图书</a>
                            <a href="/home" class="parts">自服务系统</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="logo-box line-center">
                <div class="container line-left xiaohui-bg">
                    <a href="/home"><img src="{{.HomeConf.logo}}"></a>
                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 pull-right margin-v30px">
                        <div class="input-group index-search">
                            <input type="text" class="form-control" placeholder="请输入查询关键字" value="">
                            <span class="input-group-addon search-btn" data-href="/home/article/search"> <i class="fa fa-search"></i> </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu-box line-center container">
                <nav class="navbar navbar-default0 line-left" role="navigation">
                    <!-- <div class="container-fluid"> -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                    data-target="#example-navbar-collapse">
                                <span class="sr-only">切换导航</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#"><img class="height100" src="{{.logoImg}}"></a>
                        </div>
                        <div class="collapse navbar-collapse row" id="example-navbar-collapse">
                            <ul class="nav navbar-nav top-nav">
                                <!-- 菜单列表 start -->
                                {{str2html .menuTreeHtml}}
                                <!-- 菜单列表 end -->

                                <!-- 挨着菜单的用户信息按钮 -->
                                <!-- <li class="dropdown login-info margin-l40px8">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        用户名 <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">用户名</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">后台系统</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">退出登录</a></li>
                                    </ul>
                                </li> -->
                            </ul>

                            <ul class="nav navbar-nav top-nav navbar-right">
                                <!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li> -->
                                <li class="dropdown login-info margin-l40px8">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        用户名 <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">用户名</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">后台系统</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">退出登录</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    <!-- </div> -->
                </nav>
            </div>
        </header>
        <!-- ================= 顶部菜单信息 end =================== -->




        {{.LayoutContent}}

    </div>

{{template "home/cms/public/globaljs.html"}}

{{.footerjs}}
</body>
</html>
