
    
    <script src="/static/modules/portal/js/jquery.min.js"></script>
    
    <script src="/static/modules/portal/js/popper.min.js"></script>
    <script src="/static/modules/portal/js/bootstrap.min.js"></script>
    <script src="/static/modules/portal/js/slick.min.js"></script>
    <!-- <script src="/static/modules/portal/js/jquery.mb.YTPlayer.min.js"></script> -->

    <script src="/static/modules/portal/js/jquery.waypoints.min.js"></script>
    <script src="/static/modules/portal/js/jquery.easing.1.3.js"></script>

    <script src="/static/modules/portal/js/main.js"></script>
